spring:
  data:
    mongodb:
      uri: mongodb://localhost:27017/addressdb
      #uri: ${SPRING_DATA_MONGODB_URI}
server:
  port: 8081

logging:
  level:
    org.springframework.data.mongodb.core.MongoTemplate: DEBUG
